/* Results page styles */
body {
    font-family: 'Arial', sans-serif;
    background: rgb(79, 77, 77);    /* Fun and Calm Gradient */
    color: #0b0b0b;
    padding: 20px;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 36px;
    margin: 20px 0;
    letter-spacing: 2px;
    color: orange;
    /* Vibrant Orange */
    transform: translateY(-20px);
    transition: transform 0.5s ease-in-out;
}

h1:hover {
    transform: translateY(0);
}
h2{
    font-size: 18px;
    font-weight:lighter;
    color: #ece9e9;
    margin: 20px 0;
    text-align: center;
    transition: color 0.3s ease-in-out;
}
p {
    font-size: 28px;
    color: #ece9e9;
    margin: 20px 0;
    text-align: center;
    transition: color 0.3s ease-in-out;
}

p:hover {
    color: rgb(233, 166, 43);
    /* Vibrant Orange */
}

#chartContainer {
    flex: 0 0 50%;
    padding-right: -40px;
    color: orange;
}


/* Button styles with animation */
button {
    background: orange;
    /* Vibrant Orange */
    padding: 12px 24px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background: rgb(233, 166, 43);
    /* Darker Red */
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
