body {
    font-family: sans-serif;
    background-color: rgb(246, 193, 202);
    padding: 20px;
    text-align: center;
    margin: 0;
    animation: fadeIn 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    flex: 1;
    padding-right: 20px;
    text-align: left;
}
.content h1{
font-size: 40px;
font-family:sans-serif ;
font-weight:bolder ;
color: aliceblue

}
.ppS {
font-size: 30px ;
color: rgb(74, 72, 72);
font-weight:bold ;
}
.content h3{
font-size: 50px;
color: rgb(6, 6, 6);
font-weight: bold;
}
.content h2 {
font-size: 25px ;
color: rgb(74, 72, 72);
font-weight:lighter ;
}
.pS{
font-size: 25px;
color: rgb(74, 72, 72);

}
.apps {
    display: flex;
    justify-content: space-evenly;
}

.apps > div {
    flex: 1;
    margin: 0 10px;
}

.download-logo {
    max-width: 100%;
    height: auto;
}

.signup-container {
    background: #fcfbfb;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.signup-container:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.signup-container h1 {
    font-size: 30px;
    margin: 0 0 20px;
    animation: slideInDown 0.5s ease-in-out;
    color: rgb(6, 6, 6);
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    animation: slideInRight 0.5s ease-in-out;
    width: 100%;
}
.toggle-password {
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.toggle-password i {
    font-size: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 90%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s ease-in-out;
    animation: slideInLeft 0.5s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border: 1px solid #e7e6e5;
    transform: scale(1.02);
}

.error-message {
    margin-top: 10px;
    color: rgb(181, 123, 14);
    font-weight: bold;
    animation: slideInUp 0.5s ease-in-out;
}

.rounded-button {
    background: orange;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    animation: slideInLeft 0.5s ease-in-out;
}

.rounded-button:hover {
    background-color: rgb(247, 175, 42);
    transform: scale(1.05);
}

.login-link {
    margin-top: 20px;
    animation: slideInUp 0.5s ease-in-out;
    color: rgb(8, 8, 8);
}

.linkOra {
    color: orange;
}
.or-continue-with {
    margin-top: 20px;
    font-size: 16px;
    color: #999;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: #999;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.social-icons i:hover {
    color: orange;
}
.pEnd{
    font-size:14px;
}
.pEnd a{
    color: orange;
}
/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(20px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-20px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0);
    }
}

/* Responsive design for mobile screens */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 24px;
    }

    .rounded-button {
        font-size: 16px;
    }
}